<div class="container">
    <div class="container top-container">
        <div class="container img-container">
            <img src="..." class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="container">
            <div class="container id-button">
                <h2>Id: ex) We#er</h2>
                <button class='btn btn-primary'>Add</button>
            </div>
    </div>
</div>
<div class="container">
    <h2>About Me</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis autem consectetur esse doloribus quod possimus dolores qui porro alias nesciunt. Est ea officiis assumenda repudiandae cum facere, repellendus harum ab.</p>
</div>
<div class="container">
    <h2>Interested in: #tech, #gym, #music</h2>
</div>
<div class="container text-box">
    <span>03/03/2022</span>
    <div class="container text-title">
        <div class="container">
            <p>hello world</p>
        </div>
        <div class="container">
            <a href="">Edit</a>
            <a href="">Delete</a>
        </div>
    </div>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur alias tempora accusantium natus ab magnam, autem, commodi provident distinctio pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti?</p>
        <img src="..." class="rounded mx-auto d-block" alt="...">
    </div>
    <p></p>
</div>
</div>