.top-container{
    display: flex;
    margin-bottom: 3rem;
}
.img-container{
    width: 12rem;
    height: 10rem;
    border: 1px solid;
    border-color: rgba(53, 51, 51, 0.479);
}

.img_profil{
    width: 10rem;
    height: 10rem;
}

.img_post{
    width: 40rem;
    height: 30rem;
}

.id-button{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
button{
    width: 8rem;
}

.btn{
    color: #fff;
    font-weight: bold;
}


.text-box{
    outline: 2px solid rgb(150, 150, 150);
    padding: 1rem;
    border-radius: 0.5rem;
}

.text-title{
    display: flex;
    justify-content: space-around;
}
a{
    margin-right: 2rem;
}

.column1 {
    float: left;
    width: 60%;
  }

  .column2 {
    float: right;
    width: 10%;
  }

  .text-area-4 {
	width: 675px;
	height: 100px;
	padding: 4px 8px 4px 8px;
	background: #ffffff;
	color: #c0c0c0;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}


.my_file
{
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
}
.my_file::-webkit-file-upload-button
{
  visibility: hidden;
}

.my_file::before
{
  content: '\f030';
  font-family: fontAwesome;
  font-size: 30px;
  color: rgb(0, 0, 0);
  display: inline-block;
  -webkit-user-select: none;
  margin-left: 32px;
}

.my_file::after
{
  content: 'Update';
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  color: #fff;
  top: 40px;
  font-size: 10px;
  position: absolute;
  margin-left: 30px;
}
.my_file:hover
{
  opacity: 1;
}
