<div class="container">
    <div class="container top-container">
        
        <div class="col-md-2">
            <img [src]='profile.profilePictureUrl' style="height:9rem; width:9rem;" alt="...">
        </div>

        <div class="col-md-10">
            <div class="row" >
                <div class="column1">
                    <h4 style="margin-left: 50px;">{{profile.firstName}} {{profile.lastName}}</h4>
                </div>

                <div class="column2">
                    <ng-container *ngIf="(!accountService.currentUser | async)">
                        <button style="margin-left: 220px;" type="button" class="btn btn-primary">ADD</button>

                    </ng-container>
                </div>
            </div>
            
            <h5 style="margin-left: 50px;" >About Me</h5>
            <p style="margin-top: 10px; margin-left: 50px;">{{profile.bio}}</p>
            <p style="margin-top: 10px; margin-left: 50px;">Joined at: {{profile.createdAt}}</p>

        </div>
        
    </div>

    <app-new-post></app-new-post>
    <br>
    <app-post></app-post>
    
<!--
<div class="container">
    <h2>Interested in(Hobbies) : #Tech, #Gym, #Music, #Travel, etc.,</h2>
</div>


<div class="container text-box">
    <span style="opacity: 0.5; margin-left: 12px;">today is............................03/03/2022</span>
   
        <div class="container column2">
            <a href="">Edit</a>
            <a href="">Delete</a>
        </div>
    
    <div class="container">
        <h5 style="opacity: 0.5;">Title..........</h5>
        <p style="opacity: 0.5;">New Post Here .............................................</p>
    </div>

    <div>
     <button style="width: 6rem;" type="button" class="btn btn-outline-dark btn-sm">Post</button>
     <input type="file" class="my_file">
    <button style="width: 10rem;" type="button" class="btn btn-outline-dark btn-sm">Upload image</button>
   
    
    </div>
</div>
-->
