<section class="content" style="background-color: #fff;">
  <br>
  <br>

  <div class=" wrapper profile-pic-div">
    <div class="col-md-2">
      <img [src]='profile.profilePictureUrl' style="margin-left: -20px; margin-top: -5px; height:9rem; width:10rem;" alt="...">
  </div>
    <input type="file" #file class="my_file" (change)="uploadFile(file.files)" accept="image/gif, image/jpeg, image/png, image/jpg">
  </div>

  
    <div class="set_text">   
      <h6>Username: {{profile.user.userName}}</h6>
      <!-- <h6>Email: {{profile.user.email}}</h6> -->
      <h6>Joined at: {{profile.createdAt}}</h6>

      <!-- <h6>Update Picture
        <button type="button" class="btn btn-primary" accept="image/gif, image/jpeg, image/png"
        (click)="fileInput.click()">
        <span>
            <i class="fa fa-image"></i>
        </span>
        <input #fileInput type="file" (change)="uploadFile(file.files)" style="display:none;">
      </button>
      </h6> -->
      

    </div>
      
  <br>
  <br>

  <div class=" row container py-4">
    <div>
    <form [formGroup]="profileGroup">
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input class="form-control" formControlName="userFirstName" type="text" [(ngModel)]="profile.firstName"/>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input class="form-control" formControlName="userLastName" type="text" [(ngModel)]="profile.lastName"/>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Bio</label>
        <textarea class="form-control" formControlName="userBio" type="text" style="height: 8rem;" [(ngModel)]="profile.bio"></textarea>
      </div>
  
      <!-- <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input class="form-control" type="email"/>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input class="form-control" type="number" />
      </div> -->

      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" >
        <button type="button" (click)="updateProfile(profileGroup)" style="padding:0.8rem 8rem;" class="btn btn-info btn-lg">Update</button>
      </div>
    </form>
  </div>

</div>

</section>
