.set_text
{
    margin-left: 200px;
}

  .column1 {
    float: left;
    width: 60%;
  }

  .column2 {
    float: right;
    width: 40%;
    padding-top: 30px;
    padding-left: 100px;
  }

  .column5 {
    float: right;
    width: 40%;
  }

  .column3 {
    float: right;
    width: 40%;
    margin-left: 25px;
  }

  .column4 {
    float: right;
    width: 50%;
    margin-left: 20px;
  }


  table {
    border: 1px solid;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    color: #222;
}

.profile-pic-div{
    
    position: absolute;
    transform: translate(-50%,-50%);
    overflow: hidden;
    float:left;
    display: block;  
}

.btn
{
  color: #fff;
}

.wrapper
   {
    height: 140px;
    width: 155px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: url('/assets/pokemon.png');
    background-size: 100% 100%;
    display: block;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: auto;
    padding-bottom: 20px;
    overflow: hidden;
   }

   .my_file
  {
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}
.my_file::-webkit-file-upload-button
{
    visibility: hidden;
}

.my_file::before
{
    content: '\f030';
    font-family: fontAwesome;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    -webkit-user-select: none;
    margin-left: 42px;
}

.my_file::after
{
    content: 'Update';
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    color: #fff;
    top: 40px;
    font-size: 10px;
    position: absolute;
    margin-left: 40px;
}
.my_file:hover
{
    opacity: 1;
}

.rectangle-7 {
	width: 340px;
	height: 400px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
	border-color: #00000028;
  border-radius: 5px;
	border-width: 1px;
	border-style: solid;
}

