<br>
<br>

<div class>
    <div class="container">
        <form>
            <div class="form-group">
                <textarea ngModel name="post" id="post" cols="30" rows="10" (change)="onFileSelected($event)"
                    class="form-control"></textarea>
            </div>
        </form>
    </div>
    <div class="col d-flex justify-content-end">
        <div>
            <img [src]="url" height="40">
            <button type="button" class="btn btn-primary" accept="image/gif, image/jpeg, image/png"
                (click)="fileInput.click()">
                <span>
                    <i class="fa fa-image fa-lg"></i>
                </span>
                <input #fileInput type="file" (change)="onFileSelected($event)" style="display:none;">
            </button>
            <button type="button" (click)="onUpload" class="btn btn-primary">Submit</button>