<div class="contianer feed-box">
    <div class="container">
        <h3>@Tuan</h3>
        <div class="container">
            <div class="container text-box">
                <span>03/03/2022</span>
                <div class="container text-title">
                    <div class="container">
                        <p>hello world</p>
                    </div>
                </div>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur alias tempora accusantium natus ab magnam, autem, commodi provident distinctio pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti?</p>
                    <img src="..." class="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <fa-icon [icon]="faHeart"></fa-icon><span> 2002 likes</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
        </div>
    
    </div>
    <div class="container">
        <h3>@Jasmine</h3>
        <div class="container">
            <div class="container text-box">
                <span>03/03/2022</span>
                <div class="container text-title">
                    <div class="container">
                        <p>hello world</p>
                    </div>
                </div>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur alias tempora accusantium natus ab magnam, autem, commodi provident distinctio pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti?</p>
                    <img src="..." class="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <fa-icon [icon]="faHeart"></fa-icon><span> 2002 likes</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
        </div>
    
    </div>
    <div class="container">
        <h3>@Nabintou</h3>
        <div class="container">
            <div class="container text-box">
                <span>03/03/2022</span>
                <div class="container text-title">
                    <div class="container">
                        <p>hello world</p>
                    </div>
                </div>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur alias tempora accusantium natus ab magnam, autem, commodi provident distinctio pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti?</p>
                    <img src="..." class="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <fa-icon [icon]="faHeart"></fa-icon><span> 2002 likes</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
        </div>
    
    </div>
    <div class="container">
        <h3>@Mattew</h3>
        <div class="container">
            <div class="container text-box">
                <span>03/03/2022</span>
                <div class="container text-title">
                    <div class="container">
                        <p>hello world</p>
                    </div>
                </div>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur alias tempora accusantium natus ab magnam, autem, commodi provident distinctio pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti?</p>
                    <img src="..." class="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <fa-icon [icon]="faHeart"></fa-icon><span> 2002 likes</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
        </div>
    <div class="container">
        <h3>@Hyunsoo</h3>
        <div class="container">
            <div class="container text-box">
                <span>03/03/2022</span>
                <div class="container text-title">
                    <div class="container">
                        <p>hello world</p>
                    </div>
                </div>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur alias tempora accusantium natus ab magnam, autem, commodi provident distinctio pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti?</p>
                    <img src="..." class="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <fa-icon [icon]="faHeart"></fa-icon><span> 2002 likes</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
            <br><span>We#er comments...</span>
        </div>
    
    </div>

</div>
