<!-- <div class="row">
    <div class="column1">
        <app-profile-user></app-profile-user>
    </div>

    <div class="column2">
        <app-new-post></app-new-post>
    </div>
</div> -->

<div *ngIf="!feedPosts">
    <h1 style="text-align: center;">No Posts Available!</h1>
</div>
<div *ngFor="let post of feedPosts">
    <div class="text-box" style="margin-bottom: 1rem;">
        <div class="float:left;">
            <span style="color:blue; font-weight: bold;">@{{post.user.userName}} </span>
            <span>posted at: {{post.createdAt}}</span>
        </div>
        <div class="content ">
            <h4>{{post.postContent}}</h4>
            <div *ngIf="post.postPhoto">
                <img [src]="post.postPhoto" style="width: 70%;"/>
            </div>
        </div>
    </div>
</div>