<div class="container text-box">
    <span style="margin-left: 12px;">03/03/2022</span>
   
        <div class="container column2">
            <a href="">Edit</a>
            <a href="">Delete</a>
        </div>
    
    <div class="container">
        <p>{{post.postContent}}</p>
        <!--
        <h5>hello world</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Et, consequatur alias tempora accusantium natus ab magnam, autem, 
            commodi provident distinctio pariatur nemo voluptatibus atque temporibus 
            fugiat dolorem tenetur soluta deleniti?. autem, commodi provident distinctio 
            pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti? 
            autem, commodi provident distinctio pariatur nemo voluptatibus.</p>
        -->
            <br>
            <img [src]='post.postPhoto' class="img_post rounded mx-auto d-block" alt="Post-photo">
        <!--<img src="/assets/Beach.jpg" class="img_post rounded mx-auto d-block" alt="...">-->
    </div>
</div>
<br>
<br>

<div class="container text-box">
    <span style="margin-left: 12px;">{{post.createdAt}}</span>
   
        <div class="container column2">
            <a href="">Edit</a>
            <a href="">Delete</a>
        </div>
    
    <div class="container">
        <p>{{post.postContent}}</p>
        <br>
        <img [src]='post.postPhoto' class="img_post rounded mx-auto d-block" alt="Post-photo">
        <!--
        <h5>hello world</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur alias tempora accusantium natus ab magnam, autem, commodi provident distinctio pariatur nemo voluptatibus atque temporibus fugiat dolorem tenetur soluta deleniti?</p>
        <img src="..." class="rounded mx-auto d-block" alt="...">
        -->
    </div>
</div>