<h3 class="text-center">Friends</h3>
<table class="table table-hover align-middle">
    <tbody>
        <tr *ngFor="let friend of listOfFriends">
            <a *ngIf="friend.acceptedUserId == profile.userId">
                <td class="col-md-3"><img class="img-thumbnail" [src]='friend.requestedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td>        
                <td class="col-md-5">{{friend.requestedUser.profiles[0].firstName}} {{friend.requestedUser.profiles[0].lastName}}</td>
                <td class="col-md-4"><button (click)="removeFriend(friend.requestedUserId)" class="btn btn-primary" style="width: 11rem;">Remove</button></td>
            </a>
            <a *ngIf="friend.requestedUserId == profile.userId">
                <td class="col-md-3"><img class="img-thumbnail" [src]='friend.acceptedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td> 
                <td class="col-md-5">{{friend.acceptedUser.profiles[0].firstName}} {{friend.acceptedUser.profiles[0].lastName}}</td>
                <td class="col-md-4"><button (click)="removeFriend(friend.acceptedUserId)" class="btn btn-primary" style="width: 11rem;">Remove</button></td>
            </a>
        </tr>
    </tbody>
</table>

<h3 class="text-center">Requested</h3>
<table class="table table-hover align-middle">
    <tbody>
        <tr *ngFor="let friend of listOfOutComingRequest">
            <td class="col-md-3"><img class="img-thumbnail" [src]='friend.acceptedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td> 
            <td class="col-md-5">{{friend.acceptedUser.profiles[0].firstName}} {{friend.acceptedUser.profiles[0].lastName}}</td>
            <td class="col-md-4"><button (click)="removeFriend(friend.acceptedUserId)" class="btn btn-primary" style="width: 11rem;">Cancel Request</button></td>
        </tr>
    </tbody>
</table>

<h3 class="text-center">Follow Request</h3>
<table class="table table-hover align-middle">
    <tbody>
        <tr *ngFor="let friend of listOfInComingRequest">
            <td class="col-md-3"><img class="img-thumbnail" [src]='friend.requestedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td> 
            <td class="col-md-5">{{friend.requestedUser.profiles[0].firstName}} {{friend.requestedUser.profiles[0].lastName}}</td>
            <td class="col-md-4">
                <button (click)="acceptFriend(friend.requestedUserId)" class="btn btn-primary" style="width: 11rem;">Accept</button>
                <button (click)="removeFriend(friend.requestedUserId)" class="btn btn-primary" style="width: 11rem;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<h3 class="text-center">Recommended Friend</h3>
<table class="table table-hover align-middle">
    <tbody>
        <tr *ngFor="let friend of listRecommendedFriends">
            <td class="col-md-3"><img class="img-thumbnail" [src]='friend.profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td>      
            <td class="col-md-5">{{friend.firstName}} {{friend.lastName}}</td>
            <td class="col-md-4"><button (click)="addFriend(friend.userId)" class="btn btn-primary" style="width: 11rem;">Add</button></td>
        </tr>
    </tbody>
</table> 