<h3 class="text-center">Friends</h3>
<div class="container">

    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let friend of listOfFriends">
                <div *ngIf="friend.acceptedUserId == profile.userId">
                    <td class="col-md-3  align-middle"><img class="img-thumbnail" [src]='friend.requestedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td>        
                    <td [routerLink]="['/profile', friend.requestedUserId]" style="cursor:pointer" class="col-md-5  align-middle font-weight-bold">{{friend.requestedUser.profiles[0].firstName}} {{friend.requestedUser.profiles[0].lastName}}</td>
                    <td class="col-md-4  align-middle"><button (click)="removeFriend(friend.requestedUserId)" class="btn btn-primary " style="width: 11rem;">Remove</button></td>
                </div>
                <div *ngIf="friend.requestedUserId == profile.userId">
                    <td class="col-md-3  align-middle"><img class="img-thumbnail" [src]='friend.acceptedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td> 
                    <td [routerLink]="['/profile', friend.acceptedUserId]" style="cursor:pointer" class="col-md-5  align-middle font-weight-bold">{{friend.acceptedUser.profiles[0].firstName}} {{friend.acceptedUser.profiles[0].lastName}}</td>
                    <td class="col-md-4  align-middle"><button (click)="removeFriend(friend.acceptedUserId)" class="btn btn-primary" style="width: 11rem;">Remove</button></td>
                </div>
            </tr>
        </tbody>
    </table>
    
    <h3 class="text-center">Requested</h3>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let friend of listOfOutComingRequest">
                <div>
                    <td class="col-md-3  align-middle"><img class="img-thumbnail" [src]='friend.acceptedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td> 
                    <td [routerLink]="['/profile', friend.acceptedUserId]" style="cursor:pointer" class="col-md-5  align-middle font-weight-bold">{{friend.acceptedUser.profiles[0].firstName}} {{friend.acceptedUser.profiles[0].lastName}}</td>
                    <td class="col-md-4  align-middle"><button (click)="removeFriend(friend.acceptedUserId)" class="btn btn-primary" style="width: 11rem;">Cancel Request</button></td>
                </div>
            </tr>
        </tbody>
    </table>
    
    <h3 class="text-center">Friend Request</h3>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let friend of listOfInComingRequest">
                <div>
                    <td class="col-md-3  align-middle"><img class="img-thumbnail" [src]='friend.requestedUser.profiles[0].profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td> 
                    <td [routerLink]="['/profile', friend.requestedUserId]" style="cursor:pointer" class="col-md-5  align-middle font-weight-bold">{{friend.requestedUser.profiles[0].firstName}} {{friend.requestedUser.profiles[0].lastName}}</td>
                    <td class="col-md-4  align-middle">
                        <button (click)="acceptFriend(friend.requestedUserId)" class="btn btn-primary" style="width: 11rem;">Accept</button>
                        <button (click)="removeFriend(friend.requestedUserId)" class="btn btn-primary" style="width: 11rem;">Delete</button>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
    
    <h3 class="text-center">Recommended Friend</h3>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let friend of listRecommendedFriends">
                <div>
                    <td class="col-md-3  align-middle"><img class="img-thumbnail" [src]='friend.profilePictureUrl ?? "../../assets/profil_img_setting.png"' alt="profile"></td>      
                    <td [routerLink]="['/profile', friend.userId]" style="cursor:pointer" class="col-md-5 align-middle font-weight-bold">{{friend.firstName}} {{friend.lastName}}</td>
                    <td class="col-md-4 align-middle"><button (click)="addFriend(friend.userId)" class="btn btn-primary" style="width: 11rem;">Add</button></td>
                </div>
            </tr>
        </tbody>
    </table> 
</div>