<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><img src="../../assets/logo.png" alt="logo" class="logo"> We#er</a>
        <div class="container">

            <ul class="navbar-nav" me-auto *ngIf="accountService.currentUser | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/feeds" routerLinkActive="active">Feeds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/friends" routerLinkActive="active">Friends</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/groups" routerLinkActive="active">Groups</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/setting" routerLinkActive="active">Setting</a>
                    </li>           
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </li>           
                </ul>
        </div>
        </div>
    
</nav>